 <!-- About Section -->
   <header class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
               <div class="intro-text">
                        <span class="name">Manifesto</span>
                        <hr class="star-light">
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>What</h3>
                    <p>Bitshifters is a collective of like-minded creatives & developers with a shared love of the BBC Microcomputer and 8-bit retro computing in general.  We aim to share & celebrate this love through the production of demos, games and software freely available for all to enjoy.  We aim to foster the growing community of BBC Micro enthusiasts and encourage more people to join our cause.</p>
                </div>
                <div class="col-lg-4">
                    <h3>How</h3>
                    <p>We organise releases every six months centred around a particular theme.  We issue guidelines for each release and provide as much framework and support as we can.  All will be welcome to submit contributions to the release and will be considered part of the collective at that point.  The only condition of submission is that all code be made open and freely available for reuse.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>


        </div>
    </header>


