 <!-- About Section -->
   <header class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
               <div class="intro-text">
                        <span class="name">Manifesto</span>
                        <hr class="star-light">
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>What</h3>
                    <p>Bitshifters is a collective of like-minded creatives & developers with a shared love of the BBC Microcomputer and 8-bit retro computing in general.</p><p>We aim to share & celebrate this love through the production of demos, games and software freely available for all to enjoy, and foster the growing community of BBC Micro enthusiasts, plus hopefully encourage more people to join our collective!</p>
                </div>
                <div class="col-lg-4">
                    <h3>How</h3>
                    <p>We typically produce a couple of releases per year, usually centred around a particular theme, often in collaboration.</p><p>Our releases usually start life as technical, musical or visual ideas/doodles and evolve from there.</p><p>New contributors are very welcome to join us, just drop any of us a line on the contact channels below.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>


        </div>
    </header>
    


