<!-- html code to present a compo production item -->
<div class="col-lg-4 col-md-6 col-sm-12 portfolio-item">
    <div class="panel panel-default">
        {% if post.rank %}
        <div class="panel-heading" data-mh="group-newstext"><h5>{{ post.rank | truncate: 50 }}</h5></div>
            {% endif %}

            <a href="{{ post.url }}" class="portfolio-link">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <div data-mh="group-prods-images flex-grow-1 overflow-auto">
                    <img src="/content/{{ post.img }}" class="img-responsive"  style='width:100%;' alt="{{ post.alt }}">

                </div>
            </a>

        <div class="panel-body" data-mh="group-prods">
            <!-- data-mh attribute puts all the items into a group so that the div height can be matched -->
            <div data-mh="group-prods-titles">
                <h4>{{ post.title | truncate: 30 }}</h4> 
            </div>
            <h6>{{ post.team }}</h6> 
            <a href="{{ post.url }}" class="btn btn-default">Read More</a>            
        </div>
    </div>
</div>