<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">

                <div class="footer-col col-md-4">
                    <h3>Find Us</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/bitshiftrs/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/bitshifters" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://bit-shifters.slack.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-slack"></i></a>
                        </li>
                        <li>
                            <a href="/info.html#contact" class="btn-social btn-outline"><i class="fa fa-fw fa-send"></i></a>
                        </li>

                        <!--
                                
                            
                           <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                                -->
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Links</h3>

                    <a href="/support">Support</a><br />
                    <a href="http://stardot.org.uk/">Stardot</a><br />
                    <a href="http://www.retrosoftware.co.uk/">Retrosoftware</a><br />
                    <a href="https://bbc.godbolt.org/">jsBeeb</a><br />
                    <a href="https://www.pouet.net/groups.php?which=12872">pouët.net</a><br />


                    

                </div>
                <div class="footer-col col-md-4">
                    <h3>Policy</h3>
                    All content on the Bitshifters Github pages site is free to use and open source under <a target="_blank" href="https://creativecommons.org/">Creative Commons</a> and <a target="_blank" href="https://creativecommons.org/">MIT</a> license.
                    <br>Archived content is subject to original licence.




                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    This site based on the Freelancer theme sourced from <a target="_blank" href="http://startbootstrap.com/template-overviews/freelancer/">Start Bootstrap</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>