    <!-- Header -->
    {% if page.bgimage %}
        <header style="background-image: url('{{ page.bgimage }}'); background-repeat: no-repeat; background-position: bottom left; background-size: 350px;">
    {% else %}
        <header>
    {% endif %}                    
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <div class="intro-text " >
                        {% if page.image %}
                        <img  src="{{ page.image }}" alt="page image">         
                        {% endif %}
                        {% if page.title %}
                        <span class="name">
                            {{ page.title }}
                        </span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12">
                    {% if page.subtitle %}
                    <hr class="star-light">
                    <span class="skills">{{ page.subtitle }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
