<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Productions</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% assign items = site.categories['prods'] | sort: 'date' | reverse %} 
            {% assign postsByYear = items | group_by_exp:"post", "post.date | date: '%Y'" %}
            {% for year in postsByYear %}
            <div class="panel panel-info">
                <div class="panel-heading"><h2>{{ year.name }}</h2></div>
                <div class="panel-body">            
                {% for post in year.items %}
                    {% include news_item.html %} 
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>