<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
    {% include nav.html %} {% include header.html %}


    <!-- Productions Grid Section -->
    <section id="portfolio">
        <div class="container">
        
        

            <div class="row">
                <!--
                <div class="col-lg-12 text-center">
                    <h2>Productions by other teams</h2>
                    <hr class="star-primary">
                </div>
-->

                {% assign items = site.posts | sort: 'year' %} {% for post in items reversed %} {% if post.category contains 'prods' %} {%
                if post.tags contains 'guest' %} {% include prods_item.html %} {% endif %} {% endif %} {% endfor %}


            </div>
        </div>
    </section>




    {% include footer.html %}
   {% include js.html %}
</body>

</html>